/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-accent: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-accent: #000000;
  }
}

body {
  min-height: 100vh;
  color: var(--color-accent);
  height: 36rem;

background-position: center center;
transition: background-color 0.1s , color 0.1s;
background-color: var(--color-background);
}
